*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#pagina{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: 0 auto;
}

#cabecera{
    height: 15%;
}

#barranavegacion{
    height: 5%;
    margin: 0 auto;
}

#seccion{
    height: 70%;
    width: 64%;
    float: left;
    margin-top: 0;
}

#aside{
    height: 70%;
    width: 35%;
    float: right;
    margin-top: 1em;
}

#piepagina{
    height: 10%;
    float: left;
    margin: 1em auto;
    width: 100%;
}

.encabezado{
    background-color: rgb(230,200,149);
    text-align: center;
}

.barranav{
    background-color: rgb(171,161,134);
    text-align: center;
}

.sec{
    background-color: rgb(151,158,54);
}

.aseccion{
    background-color: rgb(190,193,79);
    padding-top: 1.5em;
}

.pienavegacion{
    background-color: rgb(230,200,149);
    text-align: center;
}

.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
    background-color: white;
    margin: 20px 20px;
}

.lista{
    font-size: small;
    padding-left: 2.5em;
}

.titulo{
    padding: 1em;
    margin: 20px 20px;
}

ul{
    text-align: center;
}

li{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    padding: 15px;
}

img{
    height: 100px;
    width: 100px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
}